@charset "utf-8";
/* CSS Document */

/* compete css: */
body {
    margin: 30px;
    overscroll-behavior: none;
}

.main-body {
    padding-top: 9vh;
}

/* body styles */
body {
    font-family: var(--body-font);
    background-color: var(--white-color);
    margin: 120px;
    color: var(--dark-color);
    line-height: 1.6;
}

/* heading styles */
h1, h2, h3 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
    margin: 10px 0 0 0; /* maybe this could be changed elsewhere? */
}

h1 {
	font-size: 40px;
	font-family: 'Playfair Display', serif;
	color: var(--dark-color);
	text-align:center
}



h2, h3 {
    font-size: 2rem;
}

p{
	font-size: 16px;
}


.upcoming h2 {
	font-family: 'Playfair Display', serif;
	
	font-size: 40px
}
.upcoming h1 {
	font-family: 'Playfair Display', serif;
	font-size: 60px
}




.container {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  display: flex;
  align-items: space-between;
  padding-top: 30px;
}

.left_box {
  float: left; 
  width: 680px; 
  height: 838px; 
  padding-left: 30px;
 
}
.right_box {
  margin-left: 10px;
  margin-right: 10px;
  width: 500px; 
  height: 838px;

}
.form_box {
    width: 500px;
    padding-right: 30px;
}



.p1 {
	font-family: 'Playfair Display', serif;
	font-size: 36px;
	color: #575c8a;
}
.p5 {
	font-family: 'Lato', sans-serif;
		font-size: 26px;
	color: #575c8a;
}
.p2 {
	font-family: 'Lato', sans-serif;
	font-size: 22px;
}
.p3 {
	font-size: 22px;
	color: #575c8a;
}

.faq {
    margin: 0px 30px 30px 30px;
}


.custom-button {
	background-color: #575c8a;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	width: 400px;
	text-align:center;
	font-size:20px;
	display: block;
	margin: 0 auto;
}

.custom-button:hover {
background-color: #34385f;
}




.slider {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}


.slider-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
}


.slide {
    min-width: 100%;
    box-sizing: border-box;
}


.slider img {
    width: 100%;
    display: block;
}


button.prev, button.next {

    position: absolute;


    top: 50%;


    transform: translateY(-50%);


    background-color: rgba(0, 0, 0, 0.5);


    color: white;


    border: none;


    padding: 10px;


    cursor: pointer;


}


button.prev {


    left: 10px;


}


button.next {


    right: 10px;

}


/*homepage css:*/
.hero {
    background-image: url('https://i.ibb.co/Mk4nLxQb/aerial-shot-downtown-los-angeles-night.jpg'); /* replace with your chapter's background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* allows the background image to stay fixed while scrolling */
    height: 50vh;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}



/* Part of the following is from the about section (global css):*/
:root {
    --primary-color: #5e4d9e;
    --dark-color: #2c1b2d;
    --light-color: #955b68;
    --white-color: #ffffff;
    --header-font: 'Playfair Display', serif;
    --body-font: 'Lato', sans-serif;
    margin: 0 auto;
    padding: 0 0px;
}

/* body styles */
body {
    font-family: var(--body-font);
    background-color: var(--white-color);
    margin: 0;
    color: var(--dark-color);
    line-height: 1.6;
}

/* heading styles */
h1, h2, h3 {
    font-family: var(--header-font);
    font-weight: 700;
    margin: 10px 0 0 0; /* maybe this could be changed elsewhere? */
}

h1 {
    font-size: 6rem;
}

h2, h3 {
    font-size: 2rem;
}

p{
    font-size: 1rem;
}

.mission{
    background-color: var(--light-color);
    text-align: center;
    padding: 10px 80px;
}

.long-announcement {
    background-color: var(--white-color);
    text-align: center;
    padding: 10px 80px;
}

/* animating fade-in title */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease-out forwards;
  font-family: 'Playfair Display', serif;
  color: var(--white-color);
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}